.notification-page-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }
  
  .notification-item {
    background-color: #444;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 400px;
  }
  
  .notification-page-timestamp {
    font-size: 0.8em;
    color: #ccc;
  }
  