.respond-friend-request {
  padding: 20px 40px;
  background: linear-gradient(135deg, #13221d, #183832);
  min-height: 100vh;
  color:#eee;
  padding-bottom: 10vh;
 }

 .respond-friend-request h1{
  text-transform: uppercase;
  margin-bottom: 10px;
 }

.request-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 2px;
}

.category {
  margin-top: 10px;
}

.category h3{
  margin-bottom: 10px;
  margin-left: 10px;
}

.request-notifications-title {
 text-transform: uppercase;
 margin-top:13px;
}

.request-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #f6fffe06;
  transition: background-color 0.3s ease;
  flex-wrap: wrap;
}

.request-item:hover {
  background-color: #13221d;
}

.requester-profile-picture {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  margin-right: 11px;
}

.requester-details {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.requester-full-name {
  font-weight: bold;
  font-size: 17px;
}

.requester-username {
  color: #666;
}

.notification-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  margin-right:10px;
  margin-left:17px;
}

.request-notification {
  margin-right:14px;
}

.request-date {
  color: #999;
  font-size: 13px;
}

.buttons-container {
  display: flex;
  gap: 10px;
}

.respond-button {
  cursor: pointer;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 12.5px;
  color:#ddd;
}

.accept {
  background-color: #113d2c;
}

.decline {
  background-color: #541a16;
}

.request-summary {
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  transition: background-color 0.3s ease;
  margin-top:10px;
  background: #00000035;
}

.request-summary h2 {
  margin-bottom:6px;
  text-transform: uppercase;
}

.request-summary p {
  margin-bottom:5px;
  font-size: 17px;
}

.request-summary:hover {
  background: #00000060;
}

.request-message {
  margin-top: 10px;
  color: #f44336;
}
