.user-profile {
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(135deg, #13221d, #183832);
  color: #eee;
  padding: 30px 150px;
  min-height:100vh;
  position: relative; 
  padding-bottom: 13vh;
  overflow-y: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.user-profile-message, .error {
  position: absolute;
  left: 50%; 
  top:23px;
  transform: translate(-50%, -50%); 
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.user-profile-message {
  background-color: #2e7d32;
  margin-top: 16px;
  position: fixed;
  font-size: 17px;
  z-index: 1;
  width:fit-content;
}

.error {
  background-color: #c62828;
  margin-top: 33px;
  position: fixed;
  padding: 14px;
  font-size: 17px;
}

.edit-form label {
  display: block;
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
}

.edit-form{
padding-top:8%;
}

.input-field {
  width: 100%;
  padding: 15px;
  margin-top: 5px;
  border-radius: 5px;
  background-color: #183832;
  color: #ffffff;
  border: none;
  font-size: 16px;
}

.input-field option {
  background-color: #13221d;
  color: #eee;
  font-size: 16px;
  padding: 10px;
  width: fit-content;
}

.input-field::file-selector-button {
  padding: 6px;
  margin-right: 8px;
  background-color: #e0e0e0;
  color: rgb(3, 89, 49);
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.input-field::file-selector-button:hover {
  background-color: #086c4d;
  color: #e0e0e0;
}
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button, .cancel-button, .edit-button, .update-button {
  width: 48%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #014639;
  color: #ffffff;
  font-size: 14px;
  transition: background 0.3s ease;
  padding: 15px;
  margin: 5px 0;
  border: none;
  font-size: 0.95rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.save-button:hover, .cancel-button:hover, .edit-button:hover, .update-button:hover {
  background: #013c31;
}

.save-button:disabled {
  background: #4a4a4a;
  cursor: not-allowed;
}

.cancel-button {
  background: #4d1111;
}

.profile-view {
  text-align: center;
}

.profile-header {
  padding: 20px;
  color: #ffffff;
}

.profile-picture {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 12px;
  border: 3px solid #097660;
}

.profile-name {
  margin: 0;
  font-size: 25px;
}

.info {
  padding: 5px 5px 20px 5px;
}

.info-item {
  display: flex;
  align-items: center;
  margin: 14px 0px;
  position: relative;
  background: linear-gradient(#183832, rgb(19, 43, 39));
  padding: 20px;
  border-radius: 5px;
}

.info-label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40px;
  margin-right: 23px;
  color: #09765e;
  font-size: 25px;
}

.info-item button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-size: 17px;
}
.info-item button:hover {
  background: none;
}

.info-item{
  font-size:17px;
}

.info-item .update-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 0;
  margin-left: 78%;
}

.logout-button {
  font-size:20px;
}

.edit-button, .button {
  padding: 18px;
  margin: 5px 0;
  background-color: #e0e0e0;
  color: #014639;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}

.edit-button, .button:hover {
  background-color: #014639;
  color: #e0e0e0;
}

@media (max-width: 480px) {
  .user-profile {
    padding: 20px 15px;
    padding-bottom: 7vh;
    box-shadow: none;
  }

  .profile-header {
    padding: 17px;
  }

  .profile-picture {
    width: 112px;
    height: 112px;
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 22px;
  }

  .info-item {
    padding: 14px;
    margin: 10px 0px;
  }

  .info-label {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .info-item .update-button {
    margin-left: 51%;
    font-size: 15px;
  }

  .input-field {
    padding: 12px;
    font-size: 14px;
  }

  .button-group {
    gap: 13px;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 100%;
    padding: 12px;
  }

  .edit-button, .button {
    padding: 12px;
    font-size: 15.5px;
  }

  .user-profile-message, .error {
    font-size: 15px;
    padding: 10px;
    margin-top: 18px;
    width: 65%;
  }

  .input-field option {
    background-color: #13221d;
    color: #eee;
    font-size: 9.5px;
    padding: 0px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .user-profile {
    padding: 25px;
    min-height: 100vh;
    padding-bottom: 13vh;
  }

  .profile-header {
    padding: 15px;
  }

  .profile-picture {
    width: 110px;
    height: 110px;
    margin-bottom: 12px;
  }

  .profile-name {
    font-size: 23px;
  }

  .info-item {
    padding: 18px;
    margin: 12px 0;
  }

  .info-label {
    margin-right: 12px;
    margin-bottom: 5px;
  }

  .info-item .update-button {
    margin-left: 60%;
    font-size: 16px;
  }

  .input-field {
    padding: 14px;
    font-size: 15px;
  }

  .button-group {
    flex-direction: column;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 100%;
    padding: 14px;
  }

  .edit-button, .button {
    padding: 16px;
  }

  .user-profile-message, .error {
    font-size: 16px;
    padding: 9px;
    margin-top: 15px;
  }

  .input-field option {
    background-color: #13221d;
    color: #eee;
    font-size: 10px;
    padding: 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .user-profile {
    padding: 40px 80px;
    min-height: 100vh;
    padding-bottom: 13vh;
  }

  .profile-header {
    padding: 20px;
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    margin-bottom: 14px;
  }

  .profile-name {
    font-size: 24px;
  }

  .info-item {
    flex-direction: row;
    align-items: center;
    padding: 18px;
    margin: 14px 0;
  }

  .info-label {
    margin-right: 18px;
  }

  .info-item .update-button {
    margin-left: 69%;
    font-size: 16px;
  }

  .input-field {
    padding: 15px;
    font-size: 16px;
  }

  .button-group {
    flex-direction: row;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 48%;
    padding: 15px;
  }

  .edit-button, .button {
    padding: 17px;
  }

  .user-profile-message, .error {
    font-size: 17px;
    padding: 10px;
    margin-top: 20px;
  }

  .input-field option {
    background-color: #13221d;
    color: #eee;
    font-size: 11px;
    padding: 5px;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .user-profile {
    padding: 40px 120px;
    min-height: 100vh;
    padding-bottom: 13vh;
  }

  .profile-header {
    padding: 25px;
  }

  .profile-picture {
    width: 130px;
    height: 130px;
    margin-bottom: 15px;
  }

  .profile-name {
    font-size: 25px;
  }

  .info-item {
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 15px 0;
  }

  .info-label {
    margin-right: 20px;
  }

  .info-item .update-button {
    margin-left: 70%;
    font-size: 17px;
  }

  .input-field {
    padding: 16px;
    font-size: 17px;
  }

  .button-group {
    flex-direction: row;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 48%;
    padding: 16px;
  }

  .edit-button, .button {
    padding: 18px;
  }

  .user-profile-message, .error {
    font-size: 18px;
    padding: 11px;
    margin-top: 25px;
  }
}

@media (min-width: 1367px) and (max-width: 1600px) {
  .user-profile {
    padding: 40px 150px;
    min-height: 100vh;
    padding-bottom: 13vh;
  }

  .profile-header {
    padding: 25px;
  }

  .profile-picture {
    width: 140px;
    height: 140px;
    margin-bottom: 16px;
  }

  .profile-name {
    font-size: 26px;
  }

  .info-item {
    flex-direction: row;
    align-items: center;
    padding: 22px;
    margin: 16px 0;
  }

  .info-label {
    margin-right: 22px;
  }

  .info-item .update-button {
    margin-left: 82%;
    font-size: 18px;
  }

  .input-field {
    padding: 17px;
    font-size: 18px;
  }

  .button-group {
    flex-direction: row;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 48%;
    padding: 17px;
  }

  .edit-button, .button {
    padding: 19px;
  }

  .user-profile-message, .error {
    font-size: 19px;
    padding: 12px;
    margin-top: 30px;
  }
}

@media (min-width: 1601px) {
  .user-profile {
    padding: 50px 200px;
    min-height: 100vh;
    padding-bottom: 13vh;
  }

  .profile-header {
    padding: 30px;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    margin-bottom: 18px;
  }

  .profile-name {
    font-size: 28px;
  }

  .info-item {
    flex-direction: row;
    align-items: center;
    padding: 24px;
    margin: 18px 0;
  }

  .info-label {
    margin-right: 24px;
  }

  .info-item .update-button {
    margin-left: 85%;
    font-size: 19px;
  }

  .input-field {
    padding: 18px;
    font-size: 19px;
  }

  .button-group {
    flex-direction: row;
  }

  .save-button, .cancel-button, .edit-button, .update-button {
    width: 48%;
    padding: 18px;
  }

  .edit-button, .button {
    padding: 20px;
  }

  .user-profile-message, .error {
    font-size: 20px;
    padding: 13px;
    margin-top: 35px;
  }
}