.forgot-password-form {
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #13221d, #183832);
    color:#eee;
    padding:36px 30px;
}

.forgot-password-form h2 {
    font-size: 31px;
    margin-bottom:15px;
}

.forgot-password-form button {
    margin-top: 15px;
}

.forgot-password-message {
    font-size: 17px;
    margin-top: 3px;
}