.chat-container {
  height: 100vh; 
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, #13221d, #183832);
}

.chat-container::-webkit-scrollbar {
  display: none; 
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(2, 22, 20);
}

.chat-header-left {
  display: flex;
  align-items: center;
  margin-left:-47%;
  color: #ddd;
}

.chat-header-info {
  display: flex;
  flex-direction: column;
}

.profile-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.7rem;
  color:#aaa;
  margin-right: 5px;
}

.profile-button:hover {
  color: #05312f;
}

.chat-profile-picture{
  border-radius: 50%;
  height:40px;
  margin-right:7px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-top:5px;
  color:#aaa;
  margin-left: 5px;
}

.message-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  color:#ccc;
  font-size: 15px;
}

.message {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  max-width: 60%;
  word-wrap: break-word;
  display: inline-block;
  position: relative;
}

.sent {
  background-color: #111f1bf3;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #33413e;
  align-self: flex-start;
  text-align: left;
}

.timestamp {
  display: block;
  font-size: 0.7em;
  color: #aaa;
  margin-top: 2px;
}

.seen-checkmark {
  margin-left: 1px;
  margin-bottom: -2px;
  font-size: 1.3em;
}

.message-image {
  max-width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.date-separator {
  text-align: center;
  margin: 10px 0;
  font-size: 13px;
}

.message-form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(2, 22, 20);
}

.message-form input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  background-color:#204841;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  color: white;
}

.image-upload-label {
  margin-right: 10px;
  cursor: pointer;
  font-size: 22px;
  color: #ccc;
}

.image-upload-label input[type="file"] {
  display: none;
}

.message-form button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 22px;
  background: none;
  margin-right: 3px;
  color: #ccc;
}

.message-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.last-seen-status {
  text-align: left;
  color: #ddd;
  font-size: 11px;
  margin-right: 0;
  margin-left: auto;
}

.message-form input.disabled-input {
  font-weight: bold;
  background-color: #f5f5f5; 
  font-size: 14px; 
}

.message-form input::placeholder {
  color: #ccc;
}

.message-form input.disabled-input::placeholder {
  font-size: 10.5px; 
}
.friendship-suggestion {
  margin: 10px;
  color: red; 
}

.friendship-suggestion p {
  margin: 0;
}

.friendship-suggestion a {
  color: blue;
  text-decoration: underline;
}

.new-messages-indicator {
  position: fixed;
  bottom: 70px;
  left: 58%;
  transform: translateX(-10%);
  background-color:  rgba(2, 22, 20);
  color: #eee;
  padding: 11px 20px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1000;
  font-size: 15px;
}

.new-messages-indicator svg{
  margin-right: 4px;
  margin-bottom: -2px;
}

.image-preview {
  display:flex;
  align-items: center;
  margin-left: 10px;
  margin-top: -8px;
  margin-bottom: -7px;
}

.image-preview img {
  max-width: auto;
  max-height: 45px;
  border-radius: 4px;
  margin-right: 8px;
}

.clear-image-button {
  font-size: 19px;
}

.typing-indicator {
  font-size: small;
  color:#aaa;
  margin-top: 1px;
}

.message-image {
  max-width: 1024px;
  width: 100%;
  height: auto;
  object-fit: contain;
}
