.recent-chats-page-container {
  background: linear-gradient(135deg, #13221d, #183832);
  min-height: 100vh;
  color:#eee;
  padding-bottom: 10vh;
  overflow-y: auto;
  width: 100%;
}

.recent-chats-container h2{
  margin:10px 0 20px 0;
  font-size: 29px;
  text-transform: uppercase;
}

.recent-chats-container {
  padding: 20px;
}

.recent-chat-list {
  display: flex;
  flex-direction: column;
}

.recent-chat-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.recent-chat-item {
  width: 100%;
  background-color: #33433e;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
  position: relative;
}

.recent-chat-item:hover {
  background-color: #2c3a35;

}

.recent-chat-item.swiped {
  transform: translateX(-65px);
}

.recent-chat-item-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.recent-chat-avatar {
  margin-right: 10px;
}

.recent-chat-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.recent-chat-item-content {
  flex-grow: 1;
}

.recent-chat-header {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
  align-items: center; 
  position: relative;
  color:#eee;
}

.recent-chat-fullname {
  font-weight:500;
  margin-bottom: 3px;
}

.recent-chat-timestamp {
  font-size: 0.76rem;
  color: #bbb;
  position: relative;
  margin-top: -4px;
}

.recent-chat-message {
  font-size: 0.9rem;
  color: #ccc;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
}

.recent-chat-unseen {
   background-color: #324e44;
}

.unopened-count {
  position: absolute;
  top: 35px;
  right: 16px;
  background-color: rgb(31, 157, 77);
  color: white;
  border-radius: 50%;
  padding: 1px 6px;
  font-size: 0.8em;
}

.delete-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 8px;
}

.delete-button {
  background-color: #68080a;
  color: #eee;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.recent-chat-seen-status {
  margin-right: 3px;
  font-size: 17px;
  color: #ccc;
}

.recent-chat-seen-status svg {
  margin-bottom: -4px;
}
