.recent-chats-container {
  padding: 10px;
}

.recent-chat-list {
  display: flex;
  flex-direction: column;
}

.recent-chat-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.recent-chat-item {
  width: 100%;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}

.recent-chat-item.swiped {
  transform: translateX(-60px);
}

.recent-chat-item-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.recent-chat-avatar {
  margin-right: 10px;
}

.recent-chat-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.recent-chat-item-content {
  flex-grow: 1;
}

.recent-chat-header {
  display: flex;
  justify-content: space-between;
  margin-top: -5px;
}

.recent-chat-fullname {
  font-weight: bold;
  margin-bottom: 3px;
}

.recent-chat-timestamp {
  font-size: 0.77rem;
  color: #888;
}

.recent-chat-message {
  font-size: 0.9rem;
  color: #555;
}

.unopened-count {
  background-color: #ff5f5f;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8rem;
  margin-left: 10px;
}

.delete-box {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.delete-button {
  background-color: #ff5f5f;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button:hover {
  background-color: #ff4040;
}
